/* header{
    background: #519ABA;
}
body{
    background: #282C34;
} */

/* Poniedo fuentes */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?q5mcms');
    src:  url('../fonts/icomoon.eot?q5mcms#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?q5mcms') format('truetype'),
      url('../fonts/icomoon.woff?q5mcms') format('woff'),
      url('../fonts/icomoon.svg?q5mcms#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  
body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One',sans-serif;
}

.header div nav ol{
    margin-bottom: 0px;
}

h1{
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    /* margin: 0px 615px 70px 30px; */
}

h1 strong{
    color: #0C7D9D;
}

h2{
    color: #0C7D9D;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.hero{
    height: 300px;
    /* background-image: url('../Images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 300px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image{
object-fit: cover;
}

.portfolio{
    background: #fafafa;
    padding: 20px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    background: white;
    display: flex;
    /* border-color: blueviolet;
    border-width: 10px;
    border-style: dashed; */
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-details{
    width: 50%;
}

.project-imageContainer{
    width: 50%;
}

.project-imageContainer img{
    max-width: 100%;
}
.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-course
,.project-date
,.project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One',sans-serif;
}


.event-list{
    display: flex;
    flex-wrap: wrap;

}

.event-list-title{
    margin-left: 20px;
    /* padding: 20px; */
}

.event{
    /* border:1px solid red; */
    background-color: #f4fbff;
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.event img{
    width: 480px;
    /* height: 200px; */
    object-fit: cover;
}

/* .event iframe{
    width: 480px;
} */

.event-detail{
    margin:20px 40px;
    margin-top: -20px;
    position: relative;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-url{
    color: #056fff;
    border: 1px solid #056fff;
    border-radius: 10px;
    padding: 5px 15px;
    text-decoration: none;
}


/* Dando color a los selectores */
.header{
    background-color:#1B2127;
    color: white;
    display: flex;
    height: 90px;
    /* align-content: center; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    height: inherit;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.header figure{
    height: inherit;
}

.header img{
    height: inherit;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    margin: 10px;
    flex-shrink: 0;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-email input{
    border-color: grey;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 10px 5px 25px;
    background-image: url(../Images/envelope.svg);
    background-size: 15px 15px;
    background-position-x: 5px;
    background-position-y: center;
    background-repeat: no-repeat;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 10px;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}

/* .social{
} */

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    background-size: 50px 50px;
}

.social-link.facebook{
    background-image: url(../Images/facebook.svg);
}

.social-link.instagram{
    background-image: url(../Images/instagram.svg);
}

.social-link.github{
    background-image: url(../Images/github.svg);
}

.footer{
    color: white;
    background: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
    text-decoration: none;
}

.container{
    max-width: 1000px;
    padding: 0 1em;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* Burger-menu */
.burger-menu{
    width: 40px;
    height: 40px;
    /* font-size: 50px; */
    border-radius: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    /* left: 5px; */
    right: 10px;
    top: 1.5em;
}

/* Anadiendo medias queries */
@media screen and (max-width: 1024px)
{
    /*Hero*/
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image{
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        filter: opacity(80%) blur(1px);
    }
    h1{
        font-size: 2em;
        z-index: 2;
        /* text-shadow: 1px 2px 2px #000; */
    }
}

.html-video{
    width: 100%;
    height: auto;
    /* max-width: 100%; */
}
.youtube-video{
    /* width: 100%; */
    /* height: auto; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.flexible-video{
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background: violet;
    position: relative;
}

@media screen and (max-width: 767px)
{
    /*Header*/
    .header{
        display: block;
        height: auto;
    }
    .header figure img{
        height: 80px;
        width: 80px;
    }
    .header ol
    {
        display: block;
    }
    .header ol li 
    {
        height: 50px;
    }
    .header a
    {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        margin-bottom: .5em;
    }
    .header .logo
    {
        text-align: center;
    }

    .menu{
        position: fixed;
        background: rgba(0, 0, 0, .6);
        text-shadow: 2px 2px #000000;
        /* filter: blur(5px); */
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        /* height: 100vh; */
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active{
        left: 0;
    }

    /*Project*/
    .project{
        display: block;
    }
    .project-details{
        width: auto;
        /* font-size: 16px; */
    }
    .project-course, .project-date, .project-url{
        margin: 0.4em 0;
    }
    .project-title{
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }
    .project-course{
        font-size: 0.7em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-url{
        font-size: 1em;
    }
    .project-description{
        font-size: 0.8em;
    }
    .project-imageContainer{
        width: auto;
        text-align: center;
    }

    /*Experiencia*/
    .event{
        width: auto;
        flex-shrink: initial;
    }
    .event img{
        width: 100%;
    }

    /* berguer-menu */
    .burger-menu{
        display: block;
    }
}

@media screen and (max-width: 480px)
{
    /*Hero*/
    h1{
        font-size: 1.5em;
    }

    .project-details{
        font-size: 12px;
    }

    /*Experiencia*/
    .event-detail{
        margin: -2em 0.5em 0.5em 0.5em;
        padding: 1em;
    }

    /*Contact*/
    .contact{
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button{
        margin: 1em auto;

    }
    .form-email h3{
        margin-top: 0;
    }

    /*Footer*/
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }

}

@media screen and (max-width: 320px)
{
    /*Hero*/
    h1{
        font-size: 1em;
    }
}